Ejemplos/src/main/resources/wsdl/ET32.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--Este documento fue generado usando el servicio creado por el Departamento de SOA v.1 -->
<definitions targetNamespace="http://www.ETO9152.COPY6000.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.ETO9152.COPY6000.Request.com" xmlns:resns="http://www.ETO9152.COPY6000.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ETO9152.COPY6000.com">
   <types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.ETO9152.COPY6000.Request.com" xmlns:tns="http://www.ETO9152.COPY6000.Request.com">
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:annotation>
               <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="reg_6000" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="datos" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Feb 18 13:55:53 GMT 2016
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="6000"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="ETO9152Operation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.ETO9152.COPY6000.Response.com" xmlns:tns="http://www.ETO9152.COPY6000.Response.com">
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:annotation>
               <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="reg_6000" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="datos" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Feb 18 13:55:54 GMT 2016
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="6000"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="ETO9152OperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="ETO9152OperationResponse">
      <part element="resns:ETO9152OperationResponse" name="ResponsePart"/>
   </message>
   <message name="ETO9152OperationRequest">
      <part element="reqns:ETO9152Operation" name="RequestPart"/>
   </message>
   <portType name="ETO9152Port">
      <operation name="ETO9152Operation">
         <input message="tns:ETO9152OperationRequest" name="ETO9152OperationRequest"/>
         <output message="tns:ETO9152OperationResponse" name="ETO9152OperationResponse"/>
      </operation>
   </portType>
   <binding name="ETO9152HTTPSoapBinding" type="tns:ETO9152Port">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="ETO9152Operation">
         <soap:operation soapAction="" style="document"/>
         <input name="ETO9152OperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="ETO9152OperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="ETO9152Service">
      <port binding="tns:ETO9152HTTPSoapBinding" name="ETO9152Port">
         <soap:address location="https://${sur.protocol}://${sur.host}:${sur.port}${sur.basePath}/wss/et32"/>
      </port>
   </service>
</definitions>
