Ejemplos/src/main/resources/wsdl/WSDL32000.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--Este documento fue generado usando el servicio creado por el Departamento de SOA v.1 -->
<definitions targetNamespace="http://www.$varOperationName$.COPY$varStackSize$.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.$varOperationName$.COPY$varStackSize$.Request.com" xmlns:resns="http://www.$varOperationName$.COPY$varStackSize$.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.$varOperationName$.COPY$varStackSize$.com">
   <types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.$varOperationName$.COPY$varStackSize$.Request.com" xmlns:tns="http://www.$varOperationName$.COPY$varStackSize$.Request.com">
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:annotation>
               <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="reg_$varStackSize$" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="datos" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Feb 18 13:55:53 GMT 2016
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="$varStackSize$000"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="$varOperationName$Operation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.$varOperationName$.COPY$varStackSize$.Response.com" xmlns:tns="http://www.$varOperationName$.COPY$varStackSize$.Response.com">
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:annotation>
               <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="reg_$varStackSize$" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="datos" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Feb 18 13:55:54 GMT 2016
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="$varStackSize$000"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="$varOperationName$OperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="$varOperationName$OperationResponse">
      <part element="resns:$varOperationName$OperationResponse" name="ResponsePart"/>
   </message>
   <message name="$varOperationName$OperationRequest">
      <part element="reqns:$varOperationName$Operation" name="RequestPart"/>
   </message>
   <portType name="$varOperationName$Port">
      <operation name="$varOperationName$Operation">
         <input message="tns:$varOperationName$OperationRequest" name="$varOperationName$OperationRequest"/>
         <output message="tns:$varOperationName$OperationResponse" name="$varOperationName$OperationResponse"/>
      </operation>
   </portType>
   <binding name="$varOperationName$HTTPSoapBinding" type="tns:$varOperationName$Port">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="$varOperationName$Operation">
         <soap:operation soapAction="" style="document"/>
         <input name="$varOperationName$OperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="$varOperationName$OperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="$varOperationName$Service">
      <port binding="tns:$varOperationName$HTTPSoapBinding" name="$varOperationName$Port">
         <soap:address location="https://${sur.protocol}://${sur.host}:${sur.port}${sur.basePath}/wss/$varAppNameLowerCase$"/>
      </port>
   </service>
</definitions>
